@font-face {
    font-family: "Mark-bold";
    src: url("../fonts/MarkGEO-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MarkCAPS-medium";
    src: url("../fonts/MarkGEOCAPS-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MarkCAPS-bold";
    src: url("../fonts/MarkGEOCAPS-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mark-medium";
    src: url("../fonts/MarkGEO-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}