@import "fonts";
@import "vars";


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: 0;
    resize: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: "Mark-bold", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    // overflow: hidden
}

@import 'header';
@import 'more';
@import 'about-us';
@import 'our-product';
@import 'services';
@import 'brand';
@import 'footer';